Repository parshinp/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report, kubernetes

.gitlab-ci.yml:

variables:
   VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  #- frontend
  #- backend
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend-report/**/*

kubernetes:
  stage: module-pipelines
  trigger:
    include:
      - "/kubernetes/.gitlab-ci.yml"
  only:
    changes:
      - kubernetes/**/*

9-2
  kubernetes/frontend/ingress.yml
Due: kubernetes

9-2
  frontend/Dockerfile
  kubernetes/backend-report/deployment.yml
  kubernetes/backend-report/service.yml
Due: frontend, kubernetes

9-2
  backend-report/.gitlab-ci.yml
Due: backend-report

9-2
  kubernetes/backend-report/deployment.yml
Due: kubernetes

9-2
  kubernetes/backend-report/service.yml
Due: kubernetes

9-2
  kubernetes/backend-report/deployment.yml
  kubernetes/backend/deployment.yml
Due: kubernetes
